.header-container {
    display: flex;
    align-items: center;
  }
.header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;
    @media screen and (min-width: 768px) {
      padding-top: 21px;
      padding-bottom: 21px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
.header-list__link {
    @include title(500, 14px, 1.14, 0.02em);
    color: var(--header-main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
.header-nav .link.current {
    color: var(--accent-color);
    &::after {
      content: " ";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
      position: absolute;
      left: 0;
      bottom: -32px;
    }
  }
.header-logo {
    display: block;
    margin-right: auto;
    width: 134px;
    @include logo(Raleway, 700, 24px, 1.17, 0.03em, none);
    @media screen and (min-width: 1200px) {
      @include logo(Raleway, 700, 26px, 1.19, 0.03em, none);
      width: 145px;
      margin-right: 93px;
    }
 }
 .header-logo__web {
    color: var(--accent-color);
  }
.header-logo__studio {
    color: var(--header-main-text-color);
  }
.header-list {
    display: none;
    align-items: center;
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
.header-list__item {
    &:not(:last-child) {
     margin-right: 50px; 
    }
  }
.header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
.header-contacts-tab {
  margin-left: auto;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1199px) {
    display: none;
  }
}
.header-contacts-tab__wrap {
  display: flex;
  align-items: center;
  height: 14px;
}
.header-contacts__link {
    @include title(500, 14px, 1.14, 0.02em);
    color: var(--header-second-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
      color: var(--accent-color);
    }
  }
.header-contacts-tab__link {
    @include title(500, 12px, 1.17, 0.02em);
    color: var(--header-second-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
      color: var(--accent-color);
    }
  }
  .header-contacts__item {
    &:not(:last-child) {
     margin-right: 30px;
   }
  }
  .header-contacts-tab__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .header-contacts__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  .header-contacts-phone__icon {
    fill: currentColor;
    margin-right: 8px;
    vertical-align: middle;
  }
  .header-contacts-mail__icon {
    fill: currentColor;
    margin-right: 8px;
  }

 .menu-btn {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    margin-left: auto;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

.mob-menu {
  position: fixed;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 5;
  padding-top: 10px;
  padding-bottom: 48px;
  .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}
.menu-close-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
.mob-menu-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-menu-contacts {
  margin-bottom: 64px;
}
.mob-menu-contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-social-list {
  display: flex;
}
.mob-social-list__item {
  &:not(:last-child) {
  margin-right: 20px;
  }
}
.mob-menu-list__link {
  @include title(500, 40px, 1.17, 0.02em);
  color: #212121;
  &:hover,
  &:focus {
    color: #2196F3
  }
}
.mob-social-list__link {
  @include title(500, 18px, 1.22, 0.02em);
  color: #2196F3;
  &:hover,
  &:focus {
    color: #757575;
  }
}

.mob-menu-tel__link {
  color: #2196F3;
  display: block;
  @include title(500, 34px, 1.18, 0.02em);
}
.mob-menu-mail__link {
  color: #757575;
  @include title(500, 24px, 1.17, 0.02em);
}