:root {
    --logo-color: #ffffff;
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --first-text-color: #757575;
    --second-text-color: #212121;
    --third-text-color: #ffffff;
    --fourth-text-color: rgba(255, 255, 255, 0.6);
    --button-color: #ffffff;
    --header-main-text-color: #000000;
    --header-second-text-color: #757575;
    --accent-color: #2196f3;
    --background-block-color: #2f303a;
    --background-block-secondary-color: #f5f4fa;
    --background-color-third-color: #ffffff;
  }